<hr>
<nav>
    <a href="/">Home</a>
    <a href="how_it_works">How It Works</a>
    <a href="applications">Applications</a>
    <a href="challenges_and_future">Challenges & Future</a>
    <a href="news_feed">News Feed</a>
</nav>
<br><br>