<hr>
<nav>
    <a href="/">Home</a>
    <a href="how_it_works.html">How It Works</a>
    <a href="applications.html">Applications</a>
    <a href="challenges_and_future.html">Challenges & Future</a>
</nav>
<br><br>