<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>
        <header>
            <h1>Computer Vision and Autonomous Vehicles</h1>
        </header>

        <%- include('partials/nav.ejs') %>

            <main>
                <p>
                    An error occurred:<br><br>
                    <%= err %>
                </p>
            </main>

            <%- include('partials/footer.ejs') %>
    </body>

</html>